:root {
  --main-text-color: #757575;
  --highlight-color: #2196f3;
  --logo-color: #000000;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --hero-bgd-color: #c4c4c4;
  --footer-bgd-color: #2f303a;
  --section-bgd-color: #f5f4fa;
  --border-color: #eeeeee;
  --header-bottom-border: #ececec;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --social-icons-color: #afb1b8;
  --social-footer-bg: #43444d;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --caption-background-color: rgba(47, 48, 58, 0.8);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --btn-submit-color: #188ce8;
}